<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Carrito</title>
</head>
<body>

    <div>
        <h1>Detalles del Carrito</h1>
        <p>Carrito ID: {{cart._doc._id}}</p>
        {{#if cart._doc.products.length}}
          <ul>
            {{#each cart._doc.products}}
              <li>
                <p>Producto ID: {{this.cart._doc.products.productId}}</p>
                <p>Nombre del Producto: {{productsName._id}}</p>
                <p>Precio: {{this.product.product_price}}</p>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <p>No hay productos en el carrito.</p>
        {{/if}}
    </div>
 
</body>
</html>
